*{
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container h1{
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 200, 255);
    border-bottom: 1px solid #f1efef;
    padding: 10px 0px;
}

.qr{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-label{
    display: block;
    margin-bottom: 8px;
    color: blue;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.gbtn{
    background-color: rgb(83, 184, 247);
}
.gbtn:disabled{
    background-color: antiquewhite;
    cursor: not-allowed;
}

.dbtn{
    background-color: #27ae60;
    margin-left: 10px;
}
.dbtn:hover{
    background-color: #04622b;

}
.footer{
    margin-top: 50px;

}
